<?xml version="1.0" encoding="UTF-8" ?>
<configurations>

    <!--
        Identification of the game
          - id: A unique identifier for the game [required]
          - name: The displayed game name [required]
     -->
    <game id="giranath.spooky-sushi" name="Spooky Sushi"/>

    <!--
        Configurations of the game window
         - title: The displayed title of the window [required]
    -->
    <window title="Spooky Sushi v.0.1.0">
        <!--
            The window sizing configurations
             - min_width: The minimal width of the window [optional]
             - min_height: The minimal height of the window [optional]
             - max_width: The maximal width of the window [optional]
             - max_height: The maximal height of the window [optional]
             - initial_width: The width of the window the first time the game is opened [800]
             - initial_height: The height of the window the first time the game is opened [600]
             - fullscreen_mode: The initial fullscreen mode [none, desktop, fullscreen]
        -->
        <size min_width="800" min_height="600"
              initial_width="1024" initial_height="768"
              allow_resize="yes"
              fullscreen_mode="none"/>
    </window>

    <!--
        Configurations of the job system
         - max_job_count: The maximum number of jobs per worker [2048]
         - worker_count: The number of worker [the number of logical core on host CPU]
    -->
    <jobs max_job_count="2048"
          worker_count="default"/>
</configurations>